<%- include('./partials/head') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2">
        <%# Sidebar menu %>
        <%- include('./partials/sidebar') %>

      </div>

      <div class="col-sm-10">
        <%# Body content %>
        <h1>Author: <%= author.name %></h1>
        <p><%= author.date_of_birth_formatted %> &hyphen; <%= author.date_of_death %></p>

        <div style='margin-left:20px; margin-top:20px'>
          <h4>Books</h4>
          <% if (author_books.length) { %>
           <dl>
            <% author_books.forEach(book => { %>
              <dt>
                <a href='<%= book.url %>'> <%= book.title %></a>
              </dt>
              <dd>
                <%= book.summary %>
              </dd>
            <% }) %>
           </dl>
           <% } else { %>
            <p>This author has no books</p>
          <% } %>
        </div>

      </div>

  </div>
</div>

<%- include('./partials/footer') %>