<%- include('./partials/head') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2">
        <%# Sidebar menu %>
        <%- include('./partials/sidebar') %>

      </div>

      <div class="col-sm-10">
        <%# Body content %>
        <h1><%= title %></h1>
        
        <form method='post'>
          <div class='form-group'>
            <label for='name'>Genre: </label>
            <input type='text' id='name' class='form-control' placeholder='Fantasy, Poetry etc.'
              name='name'  value='<%= typeof genre === 'undefined' ? '' : genre.name %>' required>
              <button class='btn btn-primary' type='submit'>Submit</button>
          </div>
        </form>
      <% if (typeof errors !== 'undefined') { %>
       <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
       </ul>
      <% } %>
      </div>

  </div>
</div>

<%- include('./partials/footer') %>
