<%- include('./partials/head') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2">
        <%# Sidebar menu %>
        <%- include('./partials/sidebar') %>

      </div>

      <div class="col-sm-10">
        <%# Body content %>
        <h1>Genre&colon; <%= genre.name %> </h1>
        <div style='margin-left:20px; margin-top:20px'>
          <h4>Books</h4>
          <% if (genre_books.length) { %>
            <dl>
              <% genre_books.forEach(book => { %>
              <dt>
                  <a href='<%= book.url %>'> <%= book.title %> </a>
              </dt>
              <dd>
                  <%= book.summary %>
              </dd>
              <% }) %>
            </dl>
           <% } else { %>
            <p>This genre has no books</p>
          <% } %>
        </div>
        <hr>
        <p>
          <a href='<%= genre.url %>/delete'>Delete genre</a>
        </p>
        <p>
          <a href='<%= genre.url %>/update'>Update genre</a>
        </p>
      </div>

  </div>
</div>

<%- include('./partials/footer') %>